body {
text-align: center;
background-color: #52f80be0;

}
h1{
color: grey;

}
.input{
 width: 450px;
height: 50px;
margin: 5px;
padding-top: 0px;
bottom: 0px;
padding-left: 20px;
padding-right: 20px;
border: none;
border-radius: 10px;
background-color: rgb(232, 31, 168);
font-size: 18px;
outline: none;
}
.boton-agregar:hover{
opacity: 0,9;
}
.item-input{
width: auto;
height: 50px;
border: solid 1px rgb(247, 150, 5);
border-radius: 10px;
font-size: 18px;
color: rgb(50, 68, 205);
background: none;
padding-left: 20px;
padding-right: 20px;
}
.item{
margin-top: 20px;
margin-bottom: 20px;
}
.boton-editar{
margin-left: 10px;
margin-right: 10px;
border: none;
color: #605699;
font-size: 1.4rem;
font-family:'monserrat', sans-serif;
background: none;
}
.boton-remover{
width: 50px;
height: 50px;
margin-left: 5px;
border: none;
border-radius: 10px;
color: blueviolet;
background-color: rgb(20, 130,176);
font-size: 20px;
}